:root {
    --white-dark: #28233b;
    --white-darker: #554f9d;
    --white-lighter: #5697b0;
    --white-light: #4dc6b9;
}

html {
    font-size: 20px;
    font-family: 'Uni Neue';
}

body {
    border-bottom: solid;
    margin: 0;
}

.top-navigation {
    overflow: hidden;
    height: 2.5rem;
    border-bottom: solid hsla(249, 22%, 25%, 0.25) 1px;
}

.link-button {
    display: inline-flex;
    text-decoration: none;
    font-size: 0.75rem;
    color: var(--white-dark);
    height: 100%;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.link-button:hover {
    color: var(--white-lighter);
}

.right {
    float: right;
}

main {
    height: 500px;
    padding-left: 2rem;
}

h1 {
    margin: 5rem 0 2rem;
    color: var(--white-darker)
}

p {
    color: #686868;
    font-weight: 500;
}