:root {
    --theme1-1: #f9f07f;
    --theme1-2: #d2e68c;
    --theme1-3: #aadc97;
    --theme1-4: #7cd19f;
    --theme1-5: #3fc6a6;
}

html {
    font-size: 20px;
}

body {
    border-bottom: solid;
    margin: 0;
}

.top-navigation {
    overflow: hidden;
    padding: 0 5vw;
    height: 3rem;
    box-shadow: #c3b7b7 0 0 0.5rem 0;
}

.link-button {
    display: inline-flex;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #35314d;
    height: 100%;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}

.link-button:hover {
    background-color: #def6f1;
    transition: 0.5s;
}

.right {
    float: right;
}

h1 {
    text-transform: uppercase;
}